body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.datetime-container {
  background: blue;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.date-time-text {
  font-size: 28px;
  margin: 10px 0;
}
